@import "../utils/variabeles";
@import "../utils/mixins";

@mixin btn{
    background: $btn;
    text-decoration: none;
    border-radius: 25px;
    padding: 15px 22px;
    color: white;
    border-style: none;
}

.bouton{
    @include btn;
}

.bouton:hover{
    background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
     box-shadow: 4px 4px 2px #acabab;
}
