$btn: linear-gradient(0deg,#9356DC 0%,#FF79DA 100%);
$grey2: (#EAEAEA);
$grey1:(#353535);
$grey4:(#7E7E7E);
$green:(#008766);
$green2:(#99E2D0);
$grey:(#f6f6f6);
$tutohover: rgba(147,86,220,.1);
$tutoshadow: rgba(0,0,0,.125);
$loadcolor: rgba(255, 255, 255, 0.90);
$headershadow: rgba(0,0,0,.25);
$purple:(#9356dc);
$white: (#fff);
$blue:(#89C8FA);
$pink:(#ff79da);